<div id="game">
  <h1>Space Invaders</h1>
  <div
    data-controller="game"
    data-game-enemies-value="<%= enemies %>"
    data-game-player-value="<%= player %>"
    data-game-space-value="<%= space %>"
    data-game-shoot-value="<%= shoot %>"
    data-game-enemy-death-value="<%= enemy_death %>"
    >
    <canvas data-game-target="canvas"></canvas>
  </div>
</div>
